body {
    background-color: skyblue;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

/* Video Container */

video {
    position: fixed;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    z-index: -1;
}

/* Main Menu Title */

.title-main {
    font-size: 1.5rem;
    margin-top: 4rem;
    text-align: center;
}

.text-fade {
    animation: textFade 2s;
}

@keyframes textFade {
    0% {opacity: 0; margin-top: 3rem;}
    100% {opacity: 1;}
}

/* Main Menu Options */

.menu-options {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    opacity: 0;  
}

.menu-options > button {
    margin: 1rem 0;
    padding: 1rem 10vw;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: solid white 2px;
    border-radius: 5px;
    transition: 0.4s;
}

.menu-options > button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px white inset;
}

.fade-in {
    animation: fadeIn 3s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.fade-out {
    animation: fadeOut 3s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.hide-button {
    visibility: hidden;
}

/* Rules Modal */

.rules-modal {
    height: 22rem;
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: 700;
    line-height: 1.7rem;
    border-radius: 5px;
}

.rules-modal > i {
    display: flex;
    justify-content: end;
    padding: 1rem;
}

.rules-modal > i:hover {
    cursor: pointer;
}

.rules-modal > p {
    text-align: center;
}

/* New Game Modal */

.new-game-modal {
    height: 15rem;
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: 700;
    line-height: 1.7rem;
    border-radius: 5px;
}

.new-game-modal > i {
    display: flex;
    justify-content: end;
    padding: 1rem;
}

.new-game-modal > h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.new-game-modal > input {
    display: flex;
    margin: auto;
    width: 80%;
    height: 1.5rem;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.new-game-modal > i:hover {
    cursor: pointer;
}

.new-game-modal > button {
    margin: 2rem auto;
    width: 50%;
    padding: 0.4rem 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.new-game-modal > button:hover {
    /* Still debating */
}

.modal-fade-in {
    animation: modalFadeIn 1s;
    animation-fill-mode: both;
}

.modal-fade-out {
    animation: modalFadeOut 3s;
    animation-fill-mode: both;
}

@keyframes modalFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes modalFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/* Game Messages */

.game-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 100%;
    max-width: 75rem;
    margin: 3.5rem auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

/* Gameboard */

.gameboard-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 75rem;
}

.player-section,
.computer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.player-board,
.computer-board {
    width: 100%;
    min-width: 250px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.player-gb-box,
.com-gb-box {
    border: black solid 1px;
    background-color: white;
    padding-top: 100%;
}

/* .gameboard-box:hover {
    background-color: lightgreen;
} */

.gb-fade-in {
    animation: gbFadeIn 3s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

@keyframes gbFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}